{% extends "base.html" %}

{% block content %}
     <h3>Музеи</h3>
     <h4>Почему же так важно посещать музеи? Одна из причин - культурное просвещение, музеи показывают историю развития того или иного направления. Когда речь идёт о представителях творческих профессий, в музей можно ходить для поиска вдохновения, чтобы сравнить свои работы с произведениями более именитых авторов прошлых лет. Музеи помогают понять, что такое хорошо и красиво. Кроме того, они открывают доступ к уникальным нюансам и деталям, о которых не всегда можно прочитать в других источниках, либо рассмотреть их на картинке.</h4>
     <h4>Государственный Дарвиновский музей</h4>
     &emsp;&ensp;<a><img src="static/img/darvin.png"></a>
       <h4>Музей Занимательных Наук Экспериментаниум</h4>
     &emsp;&ensp;<a><img src="static/img/experiment.png"></a>
       <h4>Палеонтологический музей им. Ю.А. Орлова</h4>
       <a><img src="static/img/orlova.png"></a>
       <h4>Московский Планетарий</h4>
       <a><img src="static/img/planetrii.png"></a>

{% endblock %}